from werkzeug.security import generate_password_hash

# NETWORK INFO
LOCAL_HOST		= "127.0.0.1"
LOCAL_PORT		= 2999
LC_EVENT_URL		= f"https://{LOCAL_HOST}:{LOCAL_PORT}/liveclientdata"

CUSTOMS_HOST		= "127.0.0.1"
CUSTOMS_PORT		= 8000
CUSTOMS_DATA_CALLBACK	= f"http://{CUSTOMS_HOST}:{CUSTOMS_PORT}/data_callback"

REGION			= "AMERICAS"

# SECRETS
RIOT_API_KEY		= "RGAPI-XXXX"
FLASK_SECRET_KEY	= "<flask_secret_key>"
SECRET_HEADER		= "<secret_header>"
USERS = {
	"user": {
		"password": generate_password_hash("<user_password>"),
		"role": "user"
	},
	"admin": {
		"password": generate_password_hash("<admin_password>"),
		"role": "admin"
	}
}
