from werkzeug.security import generate_password_hash

# GENERAL
APP_VERSION			= "0.1-beta"
DEBUG				= True

# IMPORTANT STATS
# will weigh the score of each player for player_stats
STAT_WEIGHTS = {
    'wins': 0.5,
    'losses': -0.5,
    'kills': 0.3,
    'deaths': -0.3,
    'assists': 0.3,
    'gold_earned': 0.1,
    'damage_dealt': 0.1
}

# RIOT API CONFIGURATIONS
RIOT_API_KEY		= "RGAPI-XXXX"
RIOT_CLIENT_ID		= "PLACEHOLDER"
RIOT_CLIENT_SECRET	= "PLACEHOLDER"
RIOT_AUTH_URL		= "https://auth.riotgames.com/authorize"
RIOT_TOKEN_URL		= "https://auth.riotgames.com/token"
REDIRECT_URL		= "https://example.com/callback"
MATCH_REGION		= "AMERICAS"
SERVER_REGION		= "NA1"

# NETWORK INFO
# THESE ARE OUTDATED, uses an agent on someone's computer
LOCAL_HOST		= "127.0.0.1"
LOCAL_PORT		= 2999
LC_EVENT_URL		= f"https://{LOCAL_HOST}:{LOCAL_PORT}/liveclientdata"

CUSTOMS_HOST		= "127.0.0.1"
CUSTOMS_PORT		= 8000
CUSTOMS_DATA_CALLBACK	= f"http://{CUSTOMS_HOST}:{CUSTOMS_PORT}/data_callback"

# WEB INFO
BASE_URL				= "https://example.com"

# DB INFO
# DB_TYPE:
# 	"sqlite3" 		: for use with local database (created automatically by the application, EASIEST)
#	"postgresql"	: for use with postgresql database, locally or remotely
DB_TYPE				= "sqlite3"	
DB_HOST				= "127.0.0.1"
DB_PORT				= "1433"
DB_NAME             = "customsdb"
DB_USER             = "USERNAME"
DB_PASSWORD         = "PASSWORD"

SQLITE_DB_PATH		= f"./db/cs.db"

# SQLAlchemy Database URI
if DB_TYPE == 'postgresql':
	SQLALCHEMY_DATABASE_URI = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
	SCHEMA_NAME = f"customs_schema"
elif DB_TYPE == 'sqlite3':
	SQLALCHEMY_DATABASE_URI = f"sqlite:///{SQLITE_DB_PATH}"
	SCHEMA_NAME = None

# SECRETS
FLASK_SECRET_KEY	= "<flask_secret_key>"
SECRET_HEADER		= "<secret_header>"
ADMINS = ['<admin_username>', '<admin_username2>']
USERS = {
	"user": {
		"password": generate_password_hash("<user_password>"),
		"role": "user"
	},
	"admin": {
		"password": generate_password_hash("<admin_password>"),
		"role": "admin"
	}
}
