html, body {
	font-family: OCR A Std, monospace;
    overflow: hidden;
}

/* BOOTSTRAP OVERRIDES */
.vr {
	width: 3px;
	opacity: 0.5;
	background-color: white;
}

/* ALERT CSS */
.alert-container {
	position: fixed; 
	top: 40px; 
	right: 0; 
	z-index: 1050; 
	width: 250px; 
	padding: 1rem;
}

/* BACKGROUND IMAGE CSS */
.px-bg-dark {
	background-image: url("../img/px_bg_dark.png");
	background-repeat: repeat;
	color: white;
}

.px-bg-blue {
	background-image: url("../img/px_bg_blue.png");
	background-repeat: repeat;
	color: white;
}

.px-bg-darkblue {
	background-image: url("../img/px_bg_darkblue.png");
	background-repeat: repeat;
	color: white;
}

.px-bg-darkpink {
	background-image: url("../img/px_bg_darkpink.png");
	background-repeat: repeat;
	color: white;
}

.px-bg-darkgreenblue {
	background-image: url("../img/px_bg_darkgreenblue.jpg");
	background-repeat: repeat;
	color: white;
}

.px-bg-inverted {
	background-image: url("../img/px_bg_inverted.png");
	background-repeat: repeat;
	color: black;
}

.px-bg-lightcyan {
	background-image: url("../img/px_bg_lightcyan.png");
	background-repeat: repeat;
	color: black;
}

.px-bg-danger {
	background-image: url("../img/px_bg_darkred.png");
	background-repeat: repeat;
	color: white;
}

.px-bg-success {
	background-image: url("../img/px_bg_darkgreen.png");
	background-repeat: repeat;
	color: white;
}

.px-bg-selected {
	background-image: url("../img/px_bg_selected.png");
	background-repeat: repeat;
	color: black;
}

.px-bg-sea {
	background-image: url("../img/px_bg_sea.png");
	background-repeat: repeat;
	color: white;
}

/* MAGIC CLASSES THANKS MESIN */
.flex-remaining-height {
    flex-grow: 1;
    flex-basis: 0;
    min-height: 0.0625rem;
}

/* ETC CSS */
.team-blue {
	color: blue !important;
}

.team-red {
	color: red !important;
}

.team-blue td {
	color: blue !important;
}

.team-red td {
	color: red !important;
}

.funcolor {
    animation: colorizer 10s infinite;
}

@keyframes colorizer {
    from, to { color: #00FF00; }
    25%	  { color: #00FFFF; }
    50%	  { color: #FF0080; }
    75%	  { color: #8000FF; }
}

/* DATATABLES CSS */
.dataTables_wrapper {
	color: #ffffff;
}
.dataTables_wrapper .dataTables_filter input {
	background-color: #333333;
	color: #ffffff;
}
.dataTables_wrapper .dataTables_length select {
	background-color: #333333;
	color: #ffffff;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	background-color: #333333;
	color: #ffffff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
	background-color: #555555;
	color: #ffffff !important;
}
.dataTables_wrapper .dataTables_info {
	color: #ffffff;
}
.dataTables_wrapper .dataTables_scrollBody {
	background-color: #333333;
}
.dataTables_wrapper .dataTables_scrollBody table {
	background-color: #333333;
	color: #ffffff;
}
.dataTables_wrapper .dataTables_scrollBody table thead {
	background-color: #444444;
}
.dataTables_wrapper .dataTables_scrollBody table tbody tr {
	background-color: #333333;
}
.dataTables_wrapper .dataTables_scrollBody table tbody tr:hover {
	background-color: #555555;
}

.dt-input option {
    color: #000000; /* Change this to your desired color */
}

/* NAVBAR CSS */
.dropdown-menu {
	/* background-image: url("../img/px_bg_lightcyan.png");
	background-repeat: repeat; */
	border: 1px solid yellow;
}

.dropdown-menu a:hover {
	/* background-image: url("../img/px_bg_lightcyan.png");
	background-repeat: repeat; */
	color: cyan;
}

/* SIDEBAR CSS */
.btn-toggle {
	display: inline-flex;
	align-items: center;
	padding: .25rem .5rem;
	font-weight: 600;
	color: yellow;
	background-color: transparent;
	border: 0;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
	color: rgba(255, 255, 255, 0.85);
	/*background-color: #d2f4ea;*/
  }
  
  .btn-toggle::before {
	width: 1.25em;
	line-height: 0;
	content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
	transition: transform .35s ease;
	transform-origin: .5em 50%;
  }
  
  .btn-toggle[aria-expanded="true"] {
	color: yellow;
  }
  .btn-toggle[aria-expanded="true"]::before {
	transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
	display: inline-flex;
	padding: .1875rem .5rem;
	margin-top: .125rem;
	margin-left: 1.25rem;
	text-decoration: none;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
	color: cyan
	/*background-color: #d2f4ea;*/
  }