{% extends "base.html" %}

{% block content %}
<div class="container h-100">
<div class="d-flex justify-content-center align-items-center vh-100">
	<div class="card p-4 shadow text-center px-bg-inverted" style="padding: 10px;">
		{% if game_result %}
		<h2 class="mt-5">Game Result</h2>
			<p><strong>Game End Timestamp:</strong> {{ game_result }}</p>

			<h2 class="mt-1">Players Data</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Summoner Name</th>
						<th>Kills</th>
						<th>Deaths</th>
						<th>Assists</th>
						<th>Gold Earned</th>
						<th>Champion</th>
					</tr>
				</thead>
				<tbody>
					{% for player in players_data %}
					{% if player['teamId'] == 100 %}
					<tr class="team-blue">
					{% elif player['teamId'] == 200 %}
					<tr class="team-red">
					{% else %}
					<tr>
					{% endif %}
						<td>{{ player['summonerName'] | e }}#{{ player['riotIdTagline'] | e }}</td>
						<td>{{ player['kills'] }}</td>
						<td>{{ player['deaths'] }}</td>
						<td>{{ player['assists'] }}</td>
						<td>{{ player['goldEarned'] }}</td>
						<td>{{ player['championName'] }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
		<div class="card-body">
			<h5 class="card-title">Add a game</h5>
			<form action="{{ url_for('add_game') }}" method="POST">
				<div class="mb-3">
					<label for="game_code" class="form-label">Game Code</label>
					<input type="text" class="form-control" id="game_code" name="game_code" required>
				</div>
				<button type="submit" class="btn btn-success px-bg-success">Add Game</button>
			</form>
		</div>

		<h5>What do?</h5>
		<p>Find your game ID to add within your match history and paste it above! Easy as!</p>
		<img src="{{ url_for('static', filename='img/add_game.png') }}" class="img-fluid" alt="Add Game">
		{% endif %}
	</div>
</div>
</div>
{% endblock %}
