{% extends "base.html" %}

{% block content %}
<!-- <div class="container h-100"> -->
<div class="d-flex flex-column flex-remaining-height justify-content-center align-items-center w-100">
	<div class="card p-4 shadow text-center px-bg-inverted" style="width: 80%; border: 1px solid cyan; padding: 10px;">
		<div class="card-body">
			{% if session.get('user_uuid') | is_team_captain %}
			<small>If you don't have a game code, manually add your game</small>
			<button class="btn btn-primary">
				<a href="{{ url_for('manual_game_entry') }}" style="color: white;">Manual Game Entry</a>
			</button>
			{% endif %}
			<h5 class="card-title">Add a game</h5>
			<form action="{{ url_for('add_game') }}" method="POST">
				<div class="mb-3">
					<label for="region" class="form-label">Game Region</label>
					<select class="form-select" id="region" name="region" required>
						<option value="NA1">NA</option>
						<option value="EUW1">EUW</option>
						<option value="EUNE1">EUNE</option>
						<option value="KR">KR</option>
						<option value="BR1">BR</option>
						<option value="JP1">JP</option>
						<option value="LAN">LAN</option>
						<option value="LAS">LAS</option>
						<option value="OCE">OCE</option>
						<option value="TR1">TR</option>
						<option value="RU">RU</option>
					</select>
				</div>
				<div class="mb-3">
					<label for="game_code" class="form-label">Game Code</label>
					<input type="text" class="form-control" id="game_code" name="game_code" required>
				</div>
				<button type="submit" class="btn btn-success">Add Game</button>
			</form>
		</div>

		<h5>What do?</h5>
		<p>Find your game ID to add within your match history and paste it above! Easy as!</p>
		<img src="{{ url_for('static', filename='img/add_game.png') }}" class="img-fluid" alt="Add Game">
	</div>
</div>
<!-- </div> -->
{% endblock %}
