<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="UH OH CUSTOMS, Archive custom LOL Games with your friends!" />
        <meta name="author" content="Sc00by" />
        <title>{% block title %}UH OH CUSSMS{% endblock %}</title>
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">UH OH CUSTOMS</div>
                {% if session.get('user_uuid') != 'None' %}
                <div class="list-group list-group-flush">
                    <div class="dropdown">
                        <a class="list-group-item list-group-item-action list-group-item-light p-3 dropdown-toggle" href="#" id="teamsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Active Team: {{ session.get('active_team_name', 'None') }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="teamsDropdown">
                            {% for team in session.get('user_teams', []) %}
                                {% if team['team_uuid'] == session.get('active_team_uuid') %}
                                    <a class="dropdown-item px-bg-light" style="color: yellow;" href="{{ url_for('set_active_team', team_uuid=team['team_uuid'], next=request.path) }}">
                                        {{ team['team_name'] }}
                                    </a>
                                {% else %}
                                    <a class="dropdown-item px-bg-light" href="{{ url_for('set_active_team', team_uuid=team['team_uuid'], next=request.path) }}">
                                        {{ team['team_name'] }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="">Game History</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Player Stats</a>
                </div>
                {% endif %}
            </div>
            <!-- Page content wrapper-->
			
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        {% if session.get('role') == 'admin' %}
                                            <a class="dropdown-item" href="{{ url_for('uhohadmin') }}">Admin</a>
                                        {% endif %}
                                        <a class="dropdown-item" href="#!">Account</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ url_for('logout', next=request.path) }}">Logout</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
				
                <!-- Page content-->
                <div class="container-fluid">
					{% block content %}
					{% endblock %}
                </div>
				
            </div>
			
        </div>
        
		{% block scripts %}{% endblock %}
		<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core-bs-theme.js') }}"></script>
    </body>
</html>
