{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
		<h1 class="text-center">Game History</h1>
		<hr>

		<h2>Game Summary</h2>
		<p><strong>Game Mode:</strong> {{ game_data['gameData']['gameMode'] }}</p>
		<p><strong>Game Duration:</strong> {{ game_data['gameData']['gameTime'] | round }} seconds</p>
		<p><strong>Map Name:</strong> {{ game_data['gameData']['mapName'] }}</p>
		<p><strong>Map Terrain:</strong> {{ game_data['gameData']['mapTerrain'] }}</p>

		<h2>Players</h2>
		<div class="table-responsive">
				<table class="table table-striped">
						<thead>
								<tr>
										<th>Champion</th>
										<th>Player Name</th>
										<th>Kills</th>
										<th>Deaths</th>
										<th>Assists</th>
										<th>Creep Score</th>
										<th>Items</th>
								</tr>
						</thead>
						<tbody>
								{% for player in game_data['allPlayers'] %}
								<tr>
										<td>{{ player['championName'] }}</td>
										<td>{{ player['summonerName'] }}</td>
										<td>{{ player['scores']['kills'] }}</td>
										<td>{{ player['scores']['deaths'] }}</td>
										<td>{{ player['scores']['assists'] }}</td>
										<td>{{ player['scores']['creepScore'] }}</td>
										<td>
												{% for item in player['items'] %}
												<div>{{ item['displayName'] }}</div>
												{% endfor %}
										</td>
								</tr>
								{% endfor %}
						</tbody>
				</table>
		</div>

		<h2>Game Events</h2>
		<div class="table-responsive">
				<table class="table table-striped">
						<thead>
								<tr>
										<th>Event ID</th>
										<th>Event Name</th>
										<th>Time</th>
										<th>Details</th>
								</tr>
						</thead>
						<tbody>
								{% for event in game_data['events']['Events'] %}
								<tr>
										<td>{{ event['EventID'] }}</td>
										<td>{{ event['EventName'] }}</td>
										<td>{{ event['EventTime'] | round(2) }} seconds</td>
										<td>
												{% if event['EventName'] == 'ChampionKill' %}
												Killer: {{ event['KillerName'] }} | Victim: {{ event['VictimName'] }} 
												{% elif event['EventName'] == 'DragonKill' %}
												Killer: {{ event['KillerName'] }} | Dragon Type: {{ event['DragonType'] }}
												{% else %}
												- Details N/A -
												{% endif %}
										</td>
								</tr>
								{% endfor %}
						</tbody>
				</table>
		</div>
</div>
{% endblock %}
