{% extends "base.html" %}
{% block content %}
<div class="d-flex flex-column flex-remaining-height w-100">
    <!-- Left Section: Join/Create a Team -->
    <div class="p-3 d-flex flex-column px-bg-dark" style="border-bottom: 1px solid cyan;">
        <div class="row">
            <div class="w-50" style="border-right: 1px solid cyan;">
                <h5>Create a New Team</h5>
                <form action="{{ url_for('create_team', next=request.path) }}" method="POST">
                    <div class="mb-3">
                        <label for="team_name" class="form-label">Team Name</label>
                        <input type="text" class="form-control" id="team_name" name="team_name" placeholder="EX: EXAMPLE_TEAM" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Create Team</button>
                </form>
            </div>

            <div class="w-50">
                <h5>Join a Team</h5>
                <form action="{{ url_for('join_team', team_uuid='None', next=request.path) }}" method="POST">
                    <div class="mb-3">
                        <label for="team_uuid" class="form-label">Team Code - Get from the Team Captain</label>
                        <input type="text" class="form-control" id="team_uuid" name="team_uuid" placeholder="EX: abcdef12-3456-7890-abcd-ef1234567890" required>
                    </div>
                    <button type="submit" class="btn btn-success">Join Team</button>
                </form>
            </div>
        </div>
    </div>
        
    <h5 class="m-3">Your Teams</h5>
    <div class="table-responsive">
        <table id="teamsTable" class="table table-dark table-bordered table-striped">
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for team in user_teams %}
            <tr>
                {% if team[0] | is_team_captain %}
                <td>
                    <span><a href="{{ url_for('set_active_team', team_uuid=team[0]) }}">{{ team[1] }}</a> <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffbf04"><path d="M200-160v-80h560v80H200Zm0-140-51-321q-2 0-4.5.5t-4.5.5q-25 0-42.5-17.5T80-680q0-25 17.5-42.5T140-740q25 0 42.5 17.5T200-680q0 7-1.5 13t-3.5 11l125 56 125-171q-11-8-18-21t-7-28q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820q0 15-7 28t-18 21l125 171 125-56q-2-5-3.5-11t-1.5-13q0-25 17.5-42.5T820-740q25 0 42.5 17.5T880-680q0 25-17.5 42.5T820-620q-2 0-4.5-.5t-4.5-.5l-51 321H200Zm68-80h424l26-167-105 46-133-183-133 183-105-46 26 167Zm212 0Z"/></svg></span>
                </td>
                <td>
                    <!-- Future team captain functionality here -->
                </td>
                {% else %}
                <td>
                    <a href="{{ url_for('set_active_team', team_uuid=team[0]) }}">{{ team[1] }}</a>
                </td>
                <td>
                    {% if team[0] | is_team_member and not team[0] | is_team_captain %}
                        <form action="{{ url_for('leave_team', team_uuid=team[0], next=request.path) }}" method="POST">
                            <button type="submit" class="btn btn-danger">Leave</button>
                        </form>
                    {% elif not team[0] | is_team_member %}
                        <p>Pending membership</p>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>

</div>
{% endblock %}

{% block scripts %}
<!-- Clipboard functionality for team code -->
<script>
	$(document).ready(function() {
        $('#teamsTable').DataTable({
            order: [],
            responsive: true
        });
    });
    
    document.addEventListener('DOMContentLoaded', function() {

		const copyButton = document.getElementById('copyButton');
		const teamCodeInput = document.getElementById('teamCode');

		copyButton.addEventListener('click', function() {

			// Select and copy the team code
			navigator.clipboard.writeText(teamCodeInput.value)
				.then(() => {

					copyButton.textContent = 'Copied!';
					setTimeout(() => {
						copyButton.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#F"><path d="M360-240q-33 0-56.5-23.5T280-320v-480q0-33 23.5-56.5T360-880h360q33 0 56.5 23.5T800-800v480q0 33-23.5 56.5T720-240H360Zm0-80h360v-480H360v480ZM200-80q-33 0-56.5-23.5T120-160v-560h80v560h440v80H200Zm160-240v-480 480Z"/></svg>'
					}, 2000);

				})
				.catch(err => {
					console.error('Failed to copy text: ', err);
				});
		});
	});
</script>
{% endblock %}