{% extends "base.html" %}
{% block content %}
<div class="d-flex flex-column flex-remaining-height w-100">
    <!-- Left Section: Join/Create a Team -->
    <div class="m-3 d-flex flex-column">

        <div>
            <h5 class="card-title">Create a New Team</h5>
            <form action="{{ url_for('create_team', next=request.path) }}" method="POST">
                <div class="mb-3">
                    <label for="team_name" class="form-label">Team Name</label>
                    <input type="text" class="form-control" id="team_name" name="team_name" required>
                </div>
                <button type="submit" class="btn btn-primary">Create Team</button>
            </form>
        </div>

        <hr>

        <div>
            <h5 class="card-title">Join a Team</h5>
            <form action="{{ url_for('join_team', team_uuid='None', next=request.path) }}" method="POST">
                <div class="mb-3">
                    <label for="team_uuid" class="form-label">Team Code</label>
                    <input type="text" class="form-control" id="team_uuid" name="team_uuid" required>
                </div>
                <button type="submit" class="btn btn-success">Join Team</button>
            </form>
        </div>

        <hr>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            {% for team in user_teams %}
            <tr>
                <td><a href="{{ url_for('set_active_team', team_uuid=team[0]) }}">{{ team[1] }}</a></td>
                <td>
                    <form action="{{ url_for('leave_team', team_uuid=team[0], next=request.path) }}" method="POST">
                        <button type="submit" class="btn btn-danger">Leave</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>
</div>
{% endblock %}