{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column flex-remaining-height">
    <div class="d-flex flex-row" style="flex: 1;" >
        <div class="flex-item p-3" style="flex: 1; overflow-y: auto; border-bottom: 1px solid cyan;">
            <div class="table-responsive">
                <h4 class="p-3">Team Settings</h4>
                <form method="POST" action="{{ url_for('team_member') }}">
                    <div class="form-group">
                        <label>Display Player Score and Ranking?</label>
                        <input type="hidden" name="action" value="toggle_player_score">
                        {% if player_score_setting %}
                        <input type="hidden" name="toggle" value="off">
                        <button type="submit" class="btn btn-danger">No</button>
                        {% else %}
                        <input type="hidden" name="toggle" value="on">
                        <button type="submit" class="btn btn-success">Yes</button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- <div class="px-bg-dark h-50 p-3" style="border-top: 1px solid cyan;">
        <h4>Manage Summoner Data</h4>
        <p>Data privacy is important and all users should have the option to redact summoner data if they so choose.</p>
        <form method="POST" action="{{ url_for('team_member') }}">
            <div class="form-group">
                <label for="toggle_player_score">Redact your summoner name?</label>
                <small>Note: This will keep your data within the database and redact your summoner name from beind displayed in games for this team. You may opt in or out as you wish.</small>
                {% if opt_in_status %}
                <button type="submit" name="action" value="off" class="btn btn-danger">Opt Out</button>
                {% else %}
                <button type="submit" name="action" value="on" class="btn btn-success">Opt In</button>
                {% endif %}
            </div>
        </form>

    </div> -->
</div>
{% endblock %}
