{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center h-100">
    <div class="card mb-3 px-bg-danger" style="width: 80%;">
        <div class="card-body">
            <h5 class="card-title">UH OH ERROR: {{ error_code }}</h5>
            <p class="card-text">
                {% if error_code == 400 %}
                    The monkey does not understand your request.
                {% elif error_code == 401 %}
                    You are not authorized to view this page, leave now!
                {% elif error_code == 403 %}
                    The monkey does not deem your merit to be worth of this page.
                {% elif error_code == 404 %}
                    Oh dear! There does not appear to be anything here except this old monkey!
                {% elif error_code == 419 %}
                    The teacup is empty, please refill it.
                {% elif error_code >= 500 and error_code <= 599 %}
                    The monkey has made a mistake, please try again later.
                {% else %}
                    An unexpected error occurred.
                {% endif %}
            </p>
            <div class="card-img-top" style="background-image: url({{ url_for('static', filename='img/error/' ~ error_image) }}); height: 200px; background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
        </div>
    </div>
</div>
{% endblock %}
