{% extends "base.html" %}

{% block content %}
<div class="container h-100">
    <h1 class="m-1">Admin Dashboard</h1>
    <ul class="nav nav-tabs" id="adminTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link  active" id="config-tab" data-bs-toggle="tab" href="#config" role="tab" aria-controls="config" aria-selected="true">Config</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="images-tab" data-bs-toggle="tab" href="#images" role="tab" aria-controls="images" aria-selected="false">Images</a>
        </li>
    </ul>
    <div class="tab-content" id="adminTabContent">
        <div class="tab-pane fade show active" id="config" role="tabpanel" aria-labelledby="config-tab">
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Current Patch</h5>
                            <p class="card-text">{{ current_patch }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-champions-tab" data-bs-toggle="pill" href="#pills-champions" role="tab" aria-controls="pills-champions" aria-selected="true">Champions</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-items-tab" data-bs-toggle="pill" href="#pills-items" role="tab" aria-controls="pills-items" aria-selected="false">Items</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-spells-tab" data-bs-toggle="pill" href="#pills-spells" role="tab" aria-controls="pills-spells" aria-selected="false">Spells</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-champions" role="tabpanel" aria-labelledby="pills-champions-tab">
                    <div class="row">
                        {% for image in champions %}
                        <div class="col-md-2">
                            <div class="card mb-1">
                                <!-- <img src="{{ image['image_path'] }}" class="card-img-top" alt="{{ image['image_path'] }}"> -->
                                <img src="data:image/png;base64,{{ image['image_base64'] }}" class="card-img-top" alt="{{ image['champion_name'] }}">
                                <div class="card-body">
                                    <p class="card-text">{{ image['champion_name'] }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-items" role="tabpanel" aria-labelledby="pills-items-tab">
                    <div class="row">
                        {% for image in items %}
                        <div class="col-md-2">
                            <div class="card mb-1">
                                <!-- <img src="{{ image['image_path'] }}" class="card-img-top" alt="{{ image['image_path'] }}"> -->
                                <img src="data:image/png;base64,{{ image['image_base64'] }}" class="card-img-top" alt="{{ image['item_name'] }}">
                                <div class="card-body">
                                    <p class="card-text">{{ image['item_name'] }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-spells" role="tabpanel" aria-labelledby="pills-spells-tab">
                    <div class="row">
                        {% for image in spells %}
                        <div class="col-md-2">
                            <div class="card mb-1">
                                <!-- <img src="{{ image['image_path'] }}" class="card-img-top" alt="{{ image['image_path'] }}"> -->
                                <img src="data:image/png;base64,{{ image['image_base64'] }}" class="card-img-top" alt="{{ image['spell_name'] }}">
                                <div class="card-body">
                                    <p class="card-text">{{ image['spell_name'] }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}