{% extends "base.html" %}

{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center">
        <!-- <div class="card p-4 shadow text-center px-bg-inverted" style="padding: 10px;"> -->
	<div>
		<h1 class="m-1">Game ID: {{ game_code }}</h1>
	</div>

	<div>
		<h2 class="m-1">Game Result</h2>
		<p><strong>Winning Team:</strong> <span class="team-{{ game_result | to_lowercase }}">{{ game_result }}</span></p>
	</div>

	<div>
		<h2 class="m-1">Players Data</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Champion</th>
					<th>Summoner Name</th>
					<th>Kills</th>
					<th>Deaths</th>
					<th>Assists</th>
					<th>Gold Earned</th>
					<th>Damage</th>
				</tr>
			</thead>
			<tbody>
				{% for player in players_data %}
				{% if player['teamId'] == 100 %}
				<tr class="team-blue">
				{% elif player['teamId'] == 200 %}
				<tr class="team-red">
				{% else %}
				<tr>
				{% endif %}
					<td><img src="{{ player['championName'] | get_champion_image_base64 }}" width="40px" height="40px" alt="{{ player['championName'] }}" title="{{ player['championName'] }}"></td>
					<td>{{ player['riotIdGameName'] | e }}#{{ player['riotIdTagline'] | e }}</td>
					<td>{{ player['kills'] }}</td>
					<td>{{ player['deaths'] }}</td>
					<td>{{ player['assists'] }}</td>
					<td>{{ player['goldEarned'] }}</td>
					<td>{{ player['totalDamageDealtToChampions'] }}</td>			
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}