{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column flex-remaining-height justify-content-center align-items-center w-100">
    <div class="card m-1 p-3 shadow px-bg-inverted" style="border: 1px solid cyan; max-width: 80%;">
        <h3 class="text-center mb-2">About UH OH CUSTOMS</h3>
        <p class="card-text">
            This is a simple web application that allows users to track their League of Legends games and statistics.
        </p>
        <p class="card-text">
            The application uses the Riot Games API to retrieve data about League of Legends champions, items, and summoner spells.
            The API is rate-limited to prevent abuse and ensure fair usage by all developers.
        </p>
        <span><p>Made by Sc00by with love <img src="{{ url_for('static', filename='img/alex-wallace-LR-transparent2.gif') }}" width="50px" height="50px" class="img-fluid"></p></span>
        <hr>
        <p class="card-text px-bg-dark p-2" style="border: 2px solid yellow; border-radius: 5px;">
            <small>UH OH CUSTOMS is not endorsed by Riot Games and does not reflect the views or opinions of Riot Games or anyone officially involved in producing or managing Riot Games properties. Riot Games and all associated properties are trademarks or registered trademarks of Riot Games, Inc.</small>
        </p>
    </div>
</div>
{% endblock %}