{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column flex-remaining-height w-100 m-3">
    <h2>Account Settings</h2>

    <form method="POST" class="mt-4">
        {% if session.get('user_uuid') | is_rso_account_linked %}
        <h4>Unlink Riot Account</h4>
        <p>This will unlink your UhOhCustoms account from your Riot Account. You will no longer be able to pull custom games from your history.</p>
        <button type="submit" class="btn btn-danger mt-2" name="action" value="unlink_riot_account">Unlink Account</button>
            {% if session.get('access_token') | is_rso_session_active %}
                <p class="text-success">Your Riot Account is currently linked and the session is active.</p>
            {% else %}
                <p class="text-warning">Your Riot Account is linked, but the session is not active. You may need to re-link to refresh the session.</p>
                <button type="submit" class="btn btn-primary mt-2" name="action" value="link_riot_account">Refresh Session</button>
            {% endif %}
        {% else %}
        <h4>Link your Riot Account via Riot RSO!</h4>
        <p>This will allow you to strongly link your UhOhCustoms account to your Riot Account and actuall pull custom games from your history.</p>
        {% endif %}
        <button type="submit" class="btn btn-primary mt-2" name="action" value="link_riot_account">Link Account</button>
    </form>

    <!-- <form method="POST" class="mt-4">
        <h4>Update Email</h4>
        <div class="form-group">
            <label for="email">New Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ user_data[2] }}" required>
        </div>
        <button type="submit" class="btn btn-primary mt-2" name="action" value="update_email">Update Email</button>
    </form> -->

    <!-- <form method="POST" class="mt-4">
        <h4>Update Password</h4>
        <div class="form-group">
            <label for="current_password">Current Password</label>
            <input type="password" class="form-control" id="current_password" name="current_password" required>
        </div>
        <div class="form-group">
            <label for="new_password">New Password</label>
            <input type="password" class="form-control" id="new_password" name="new_password" required>
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm New Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
        </div>
        <button type="submit" class="btn btn-primary mt-2" name="action" value="update_password">Update Password</button>
    </form> -->
</div>
{% endblock %}