<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="UH OH CUSTOMS, Archive custom LOL Games with your friends!" />
        <meta name="author" content="Sc00by" />
        <title>{% block title %}UH OH CUSTOMS{% endblock %}</title>
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body class="h-100">
        <div class="d-flex flex-column h-100">

            <!-- TOP NAVBAR -->
            <div id="top-navbar">
                <nav class="navbar navbar-expand-lg px-bg-dark fixed-top" style="border-bottom: 1px solid cyan;">
                    <div class="d-flex w-100">
                        <a class="navbar-brand funcolor" href="{{ url_for('index') }}" style="color: white; padding-left: 20px;">UH OH CUSTOMS</a>
                        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button> -->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ms-auto" >
                                
                                {% if session.get('user_uuid') %}
                                    <!-- USER ACCOUNT THINGS AND STUFF -->
                                    {% if session.get('riot_id') %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('account') }}" role="button" style="border-left: 1px solid cyan; color: white;">
                                            Linked Riot Account: <span style="color: yellow; padding-left: 10px;">{{ session.get('username', 'None') }}</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="border-left: 1px solid cyan; color: white;">
                                            Logged in as: <span style="color: yellow; padding-left: 10px;">{{ session.get('username', 'None') }}</span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end px-bg-dark" aria-labelledby="userDropdown">
                                            {% if session.get('role') == 'admin' %}
                                            <li>
                                                <a class="dropdown-item px-bg-dark" href="{{ url_for('uhohadmin') }}">
                                                    Admin
                                                </a>
                                            </li>
                                            {% endif %}
                                            <li>
                                                <!-- THIS WILL BE USER ACCOUNT -->
                                                <a class="dropdown-item px-bg-dark" href="{{ url_for('account') }}">
                                                    Account
                                                </a>
                                            </li>
                                            <li style="border-top: 1px solid cyan;">
                                                <a class="dropdown-item px-bg-dark" href="{{ url_for('logout') }}">
                                                    Logout
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('about') }}" style="border-left: 1px solid cyan; color: white;"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#00ffff"><path d="M424-320q0-81 14.5-116.5T500-514q41-36 62.5-62.5T584-637q0-41-27.5-68T480-732q-51 0-77.5 31T365-638l-103-44q21-64 77-111t141-47q105 0 161.5 58.5T698-641q0 50-21.5 85.5T609-475q-49 47-59.5 71.5T539-320H424Zm56 240q-33 0-56.5-23.5T400-160q0-33 23.5-56.5T480-240q33 0 56.5 23.5T560-160q0 33-23.5 56.5T480-80Z"/></svg></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('login') }}" style="border-left: 1px solid cyan; color: white;">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('register') }}" style="border-left: 1px solid cyan; color: white;">Register</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="px-bg-darkgreenblue d-flex flex-row flex-remaining-height" style="padding-top: 56px;">
                {% if session.get('user_uuid') %}
                <!-- FLASH MESSAGES -->
                <div class="alert-container">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message[0] }} alert-dismissible fade show p-1" role="alert">
                                    {{ message[1] }}
                                    <div class="mt-3">
                                        <button type="button" class="px-bg-inverted" data-bs-dismiss="alert" aria-label="Close">Dismiss</button>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                {% endif %}

                <!-- SIDE NAVBAR -->
                {% if session.get('user_uuid') %}
                <div id="side-navbar" class="px-bg-dark h-100" style="border-right: 1px solid cyan;">
                    <div class="flex-shrink-0  flex-remaining-height" style="width: 200px;">
                        <ul class="list-unstyled" >
                            <li class="p-1" style="border-bottom: 1px solid cyan; ">
                                <a class="btn btn-toggle align-items-center rounded collapsed {% if get_active_page() == url_for('manage_teams') %}funcolor{% endif %}" style="color: white;" href="{{ url_for('manage_teams') }}">
                                    Manage Your Teams
                                </a>
                                <button class="btn btn-toggle align-items-center rounded collapsed" style="color: white;" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                                    <div class="dropdown-toggle text-wrap text-start">Active Team: <span style="color: yellow">{{ session.get('active_team_name', 'None') }}</span></div>
                                </button>
                                {% if USER_ROLE == 'Pending' %}
                                <div style="border: 1px solid yellow; padding: 3px">PENDING MEMBERSHIP</div>
                                {% endif %}
                                <div class="collapse" id="dashboard-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    {% for team in session.get('user_teams', []) %}
                                    <li>
                                        <a class="dropdown-item" href="{{ url_for('set_active_team', team_uuid=team['team_uuid'], next=request.path) }}">
                                            > {{ team['team_name'] }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                </div>
                            </li>
                            {% if session.get('active_team_uuid', 'None') | is_team_member %}
                            <li class="p-1" style="border-bottom: 1px solid cyan;">
                                <a class="btn btn-toggle align-items-center rounded collapsed {% if get_active_page() == url_for('game_history') %}funcolor{% endif %}" style="color: white;" href="{{ url_for('game_history') }}">
                                    Game History
                                </a>
                            </li>
                            <li class="p-1" style="border-bottom: 1px solid cyan;">
                                <a class="btn btn-toggle align-items-center rounded collapsed {% if get_active_page() == url_for('player_stats') %}funcolor{% endif %}" style="color: white;" href="{{ url_for('player_stats') }}">
                                    Player Stats
                                </a>
                            </li>
                            {% endif %}
                            {% if session.get('active_team_uuid', 'None') | is_team_captain %}
                            <li class="p-1" style="border-bottom: 1px solid cyan;">
                                <a class="btn btn-toggle align-items-center rounded collapsed {% if get_active_page() == url_for('team_captain') %}funcolor{% endif %}" style="color: white;" href="{{ url_for('team_captain') }}">
                                    Team Captain
                                </a>
                            </li>
                            {% elif session.get('active_team_uuid', 'None') | is_team_member %}
                            <li class="p-1" style="border-bottom: 1px solid cyan;">
                                <a class="btn btn-toggle align-items-center rounded collapsed {% if get_active_page() == url_for('team_member') %}funcolor{% endif %}" style="color: white;" href="{{ url_for('team_member') }}">
                                    Team Member
                                </a>
                            </li>
                            {% endif %}
                            <!-- BOTTOM SIDE NAVBAR -->
                            <li class="p-1 text-center fixed-bottom" style="border-top: 1px solid cyan; width: 200px;">
                                <div class="d-flex flex-row">
                                    <a class="w-75" target="_blank" href="https://github.com/Aeconomy7/uhohcustoms"><small class="p-1 align-items-center" style="color: white;">Version {{ APP_VERSION }}</small></a>
                                    <a class="p-1 align-items-center w-25" href="{{ url_for('about') }}" style="border-left: 1px solid cyan; color: white;"><svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="24px" fill="#00ffff"><path d="M424-320q0-81 14.5-116.5T500-514q41-36 62.5-62.5T584-637q0-41-27.5-68T480-732q-51 0-77.5 31T365-638l-103-44q21-64 77-111t141-47q105 0 161.5 58.5T698-641q0 50-21.5 85.5T609-475q-49 47-59.5 71.5T539-320H424Zm56 240q-33 0-56.5-23.5T400-160q0-33 23.5-56.5T480-240q33 0 56.5 23.5T560-160q0 33-23.5 56.5T480-80Z"/></svg></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}
                
                <!-- MAIN PAGE CONTENT POPULATED HERE -->
                <div id="page-wrapper" class="d-flex w-100 h-100" style="overflow-y: auto;">    
                    {% block content %}{% endblock %}
                </div>

            </div>
        </div>

        <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <!-- <script src="{{ url_for('static', filename='js/core-bs-theme.js') }}"></script> -->
        {% block scripts %}{% endblock %}
    </body>
</html>